@{
    Layout = null;

    var setTitle = "Mr. Mercedes";
    var releaseYear = "2015";
    var description = "Another thriller from Stephen King";
    var authors = new string[]
    {
        "Stephen King"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@setTitle</h1>
        <h2>Released: @releaseYear</h2>
        <h5>Description: </h5>
        <div>@Html.Raw(description)</div>
        <h5>Authors:</h5> 
        <div>@authors</div>
    </div>
</body>
</html>
