@{
    Layout = null;

    }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SetTitle</h1>
        <h2>Released: @ViewBag.ReleaseYear</h2>
        <h5>Description: </h5>
        <div>@Html.Raw(ViewBag.Description)</div>
        
        @if (ViewBag.Authors.Length > 0)
        {
        <h5>Authors:</h5> 
            <div>
                <ul>
                    @foreach (var author in ViewBag.Authors)
                    {
                        <li>@author</li>
                    }
                </ul>
            </div>
        }
    </div>
</body>
</html>
